@import 'colours';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  min-width: 32rem;
  text-align: center;
  color: $akira_grey;
}

img {
  height: 6rem;
}

.open_for_business {
  color: $akira_green;
}

.closed_for_business {
  color: $akira_yellow;
}

.offline-message {
  color: $akira_blue;
}

.clock {
  display: inline-block;
  height: 20rem;
  width: 20rem;
  border: 0.5rem solid $akira_grey;
  border-radius: 50%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
