@import 'colours';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  min-width: 32rem;
  text-align: center;
  color: $akira_grey;
}

img {
  height: 6rem;
}

.open_for_business {
  color: $akira_green;
}

.closed_for_business {
  color: $akira_yellow;
}

.offline-message {
  color: $akira_blue;
}

.clock {
  position: relative;
  display: inline-block;
  height: 20rem;
  width: 20rem;
  border: 0.5rem solid $akira_dark_blue;
  background: $akira_dark_blue;
  border-radius: 50%;
}

.clock-center {
  position: absolute;
  top: 49%;
  right: 48%;
  border-radius: 50%;
  height: 0.8rem;
  width: 0.8rem;
  background: $akira_blue;
  z-index: 100;
}

.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  background: $akira_blue;
  height: 0.5rem;
  width: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 1s;
}

.hour-hand {
  width: 40%;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
