@import 'colours';

html {
  font-size: 62.5%
}

body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
}

main {
  min-width: 32rem;
  text-align: center;
  color: $akira_grey;
}

img {
  height: 6rem;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
